.detailspage p{
    height: 3rem;
    display: flex;
    align-items: center;
}
.detailspage div{
    margin-top: 20px;
}
.detailspage h1::after{
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    color: black;
    margin-top: 2px;
}