.season-episodes{
    background: white;
    transition: background 0.4s ease-in;
}
.season-episodes:hover{
    background-color: darkgrey;

}
.option{
    filter: brightness(0.3);
}
.option::after{
    content: '';
    width: 3px;
    height: 3px;
    background: white;
    display: block;
    transition: width 0.4s ease-in;
}
.selected {
    filter: brightness(1);
  }
  .selected::after{
    content: '';
    margin-top: 4px;
    width: 40px;
    height: 3px;
    background: white;
    display: block;
  }
  
  .dim {
    filter: brightness(0.5);
  }